In [1]:
import os

## DATA PRE-PROCESSING

In [99]:
#ignore this box if you are using jupyter lab
#create a function that defines the new directory
# def get_path():
#    print('directory')
   #get the current working directory
#    print(os.getcwd())
 #   print('new directory')
    
#get_path()
#change the directory to the new directory containing the dataset
#os.chdir("C:\\Users\\DELL\\Desktop\\Hamoyecapstoneproject")

#get_path()

In [6]:
#path = os.getcwd()
#os.listdir(path)

['earning.csv']

load the data

In [6]:
import pandas as pd
df = pd.read_csv('C:\\Users\\DELL\\Desktop\\Hamoyecapstoneproject\\earning.csv', delimiter=';', nrows=None)
row, col = df.shape
print(f'There are {row} rows and {col} columns')

There are 14 rows and 28 columns

View the data

In [7]:
df.head()

,year,females,femalesmanagers,femaleprofessionals,femaletechniciansandtradesworkers,femalecommunityandpersonalserviceworkers,femaleclericalandadministrativeworkers,femalesalesworkers,femalemachineryoperatorsanddrivers,femalelabourers,...,malelabourers,persons,personmanagers,personprofessionals,persontechniciansandtradesworkers,personcommunityandpersonalserviceworkers,personclericalandadministrativeworkers,personsalesworkers,personmachineryoperatorsanddrivers,personlabourers
0,2004,Females,26.14,29.02,17.90,18.01,19.98,14.79,16.27,16.48,...,17.21,Persons,30.60,31.22,21.58,19.03,20.80,16.13,20.39,16.95
1,2005,Females,28.10,30.00,18.86,18.20,20.95,15.39,21.49,16.71,...,17.85,Persons,31.37,31.91,21.42,19.60,21.71,16.70,21.09,17.44
2,2006,Females,28.60,30.56,19.64,18.84,21.73,16.19,17.37,16.32,...,18.18,Persons,32.82,32.28,22.18,20.04,22.82,17.57,21.00,17.48
3,2007,Females,36.43,31.93,20.98,19.85,23.27,16.78,18.04,17.54,...,19.68,Persons,37.95,35.01,23.52,21.32,24.61,18.28,22.55,18.88
4,2008,Females,32.68,32.93,20.30,20.97,23.67,17.44,20.27,17.27,...,19.79,Persons,36.24,35.84,24.19,24.25,24.76,19.34,23.33,18.85

we have three categories of gender in the dataset above; Females, Males and, persons(not exclusively a man or woman).https://www23.statcan.gc.ca/imdb/p3Var.pl?Function=DEC&Id=410445

In [10]:
#check for the columns and data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 28 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   year                                      14 non-null     int64
 1   females                                   14 non-null     object
 2   femalesmanagers                           14 non-null     float64
 3   femaleprofessionals                       14 non-null     float64
 4   femaletechniciansandtradesworkers         14 non-null     float64
 5   femalecommunityandpersonalserviceworkers  14 non-null     float64
 6   femaleclericalandadministrativeworkers    14 non-null     float64
 7   femalesalesworkers                        14 non-null     float64
 8   femalemachineryoperatorsanddrivers        14 non-null     float64
 9   femalelabourers                           14 non-null     float64
 10  males                                     14 non-null     object
 11  malemanagers                              14 non-null     float64
 12  maleprofessionals                         14 non-null     float64
 13  maletechniciansandtradesworkers           14 non-null     float64
 14  malecommunityandpersonalserviceworkers    14 non-null     float64
 15  maleclericalandadministrativeworkers      14 non-null     float64
 16  malesalesworkers                          14 non-null     float64
 17  malemachineryoperatorsanddrivers          14 non-null     float64
 18  malelabourers                             14 non-null     float64
 19  persons                                   14 non-null     object
 20  personmanagers                            14 non-null     float64
 21  personprofessionals                       14 non-null     float64
 22  persontechniciansandtradesworkers         14 non-null     float64
 23  personcommunityandpersonalserviceworkers  14 non-null     float64
 24  personclericalandadministrativeworkers    14 non-null     float64
 25  personsalesworkers                        14 non-null     float64
 26  personmachineryoperatorsanddrivers        14 non-null     float64
 27  personlabourers                           14 non-null     float64
dtypes: float64(24), int64(1), object(3)
memory usage: 3.2+ KB

In [96]:
#check for null values
df.isnull().sum()

year                                        0
females                                     0
femalesmanagers                             0
femaleprofessionals                         0
femaletechniciansandtradesworkers           0
femalecommunityandpersonalserviceworkers    0
femaleclericalandadministrativeworkers      0
femalesalesworkers                          0
femalemachineryoperatorsanddrivers          0
femalelabourers                             0
males                                       0
malemanagers                                0
maleprofessionals                           0
maletechniciansandtradesworkers             0
malecommunityandpersonalserviceworkers      0
maleclericalandadministrativeworkers        0
malesalesworkers                            0
malemachineryoperatorsanddrivers            0
malelabourers                               0
persons                                     0
personmanagers                              0
personprofessionals                         0
persontechniciansandtradesworkers           0
personcommunityandpersonalserviceworkers    0
personclericalandadministrativeworkers      0
personsalesworkers                          0
personmachineryoperatorsanddrivers          0
personlabourers                             0
dtype: int64

In [101]:
df.describe()

,year,femalesmanagers,femaleprofessionals,femaletechniciansandtradesworkers,femalecommunityandpersonalserviceworkers,femaleclericalandadministrativeworkers,femalesalesworkers,femalemachineryoperatorsanddrivers,femalelabourers,malemanagers,...,malemachineryoperatorsanddrivers,malelabourers,personmanagers,personprofessionals,persontechniciansandtradesworkers,personcommunityandpersonalserviceworkers,personclericalandadministrativeworkers,personsalesworkers,personmachineryoperatorsanddrivers,personlabourers
count,14.0000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,...,14.000000,14.000000,14.000000,14.000000,14.00000,14.000000,14.000000,14.000000,14.000000,14.000000
mean,2010.5000,35.964286,37.065714,22.979286,22.597857,26.558571,19.630714,23.685000,19.953571,42.518571,...,26.629286,21.987143,40.051429,39.708571,27.29000,24.186429,27.736429,21.092143,26.342143,21.250000
std,4.1833,6.134298,6.119284,3.488287,3.277464,4.516377,3.383354,5.075312,3.054882,6.324777,...,4.064915,3.258960,6.095062,6.231100,4.18193,3.415309,4.643856,3.419436,4.138499,3.177241
min,2004.0000,26.140000,29.020000,17.900000,18.010000,19.980000,14.790000,16.270000,16.320000,33.020000,...,20.920000,17.210000,30.600000,31.220000,21.42000,19.030000,20.800000,16.130000,20.390000,16.950000
25%,2007.2500,32.835000,32.180000,20.217500,20.130000,23.370000,16.945000,20.567500,17.337500,38.467500,...,23.220000,19.707500,36.667500,35.217500,23.68750,21.552500,24.647500,18.545000,22.745000,18.857500
50%,2010.5000,35.730000,36.000000,23.025000,22.610000,26.295000,19.510000,22.830000,19.500000,42.770000,...,27.205000,21.925000,39.675000,39.395000,27.82500,24.255000,27.675000,20.995000,26.780000,21.075000
75%,2013.7500,40.905000,42.835000,25.697500,24.882500,30.735000,22.112500,28.552500,22.417500,47.977500,...,29.785000,24.610000,45.155000,45.605000,30.75500,26.840000,31.880000,23.360000,29.585000,24.047500
max,2017.0000,46.020000,47.040000,28.300000,27.840000,33.540000,26.110000,31.910000,24.900000,52.510000,...,33.120000,27.280000,49.800000,49.560000,33.36000,29.280000,35.010000,27.310000,32.840000,26.440000

In [72]:
#Save the new refined datasets
df.to_csv('C:/Users/DELL/Desktop/Hamoyecapstoneproject/new_earnings dataset.csv')

Transpose the data, to separate the data into three extra datasets consisting of the females, males and persons each.

In [98]:
#transpose the data
df1 = df.T
df1.columns=df1.iloc[0]
df1.drop(['year'], axis=0, inplace=True)
df1

year,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
females,Females,Females,Females,Females,Females,Females,Females,Females,Females,Females,Females,Females,Females,Females
femalesmanagers,26.14,28.1,28.6,36.43,32.68,33.3,34.41,35.22,36.24,37.26,42.63,42.12,44.35,46.02
femaleprofessionals,29.02,30.0,30.56,31.93,32.93,34.72,35.52,36.48,37.72,38.95,44.13,44.75,45.17,47.04
femaletechniciansandtradesworkers,17.9,18.86,19.64,20.98,20.3,20.19,22.86,23.19,23.95,23.9,27.86,27.5,26.28,28.3
femalecommunityandpersonalserviceworkers,18.01,18.2,18.84,19.85,20.97,21.0,21.97,23.25,23.52,24.5,25.01,26.87,26.54,27.84
femaleclericalandadministrativeworkers,19.98,20.95,21.73,23.27,23.67,23.81,25.74,26.85,28.35,28.38,31.52,31.68,32.35,33.54
femalesalesworkers,14.79,15.39,16.19,16.78,17.44,18.02,19.15,19.87,20.82,21.61,22.28,22.99,23.39,26.11
femalemachineryoperatorsanddrivers,16.27,21.49,17.37,18.04,20.27,21.46,22.74,22.92,24.46,25.02,29.84,31.91,29.73,30.07
femalelabourers,16.48,16.71,16.32,17.54,17.27,17.9,19.18,19.82,20.99,21.75,22.64,23.66,24.19,24.9
males,Males,Males,Males,Males,Males,Males,Males,Males,Males,Males,Males,Males,Males,Males
malemanagers,33.02,33.13,35.16,38.85,38.34,41.67,41.28,43.87,44.24,44.85,49.55,49.02,49.77,52.51
maleprofessionals,34.03,34.2,34.34,38.85,39.4,40.12,41.49,45.78,45.24,45.03,50.45,51.05,49.49,52.91
maletechniciansandtradesworkers,22.15,21.87,22.64,23.97,24.81,26.62,27.95,29.26,30.94,30.82,31.95,33.27,31.97,34.25
malecommunityandpersonalserviceworkers,21.18,22.52,22.74,24.56,31.35,25.1,26.99,26.41,29.03,29.2,31.96,30.74,33.35,32.63
maleclericalandadministrativeworkers,23.19,23.94,26.15,28.52,28.04,28.25,30.69,32.77,32.9,33.88,35.85,35.72,37.77,39.4
malesalesworkers,18.51,19.01,19.99,20.82,22.58,21.6,23.22,23.99,24.49,24.55,25.99,26.89,29.62,29.28
malemachineryoperatorsanddrivers,20.92,21.04,21.36,23.06,23.7,25.44,27.25,27.16,28.88,29.83,30.48,30.92,29.65,33.12
malelabourers,17.21,17.85,18.18,19.68,19.79,19.96,21.69,22.16,24.18,24.25,25.22,24.73,25.64,27.28
persons,Persons,Persons,Persons,Persons,Persons,Persons,Persons,Persons,Persons,Persons,Persons,Persons,Persons,Persons
personmanagers,30.6,31.37,32.82,37.95,36.24,38.57,38.73,40.62,41.28,41.99,46.88,46.21,47.66,49.8
personprofessionals,31.22,31.91,32.28,35.01,35.84,37.1,38.14,40.65,41.07,41.66,46.92,47.53,47.03,49.56
persontechniciansandtradesworkers,21.58,21.42,22.18,23.52,24.19,25.68,27.23,28.42,29.9,29.81,31.34,32.39,31.04,33.36
personcommunityandpersonalserviceworkers,19.03,19.6,20.04,21.32,24.25,22.25,23.5,24.26,25.25,25.88,27.16,28.11,28.68,29.28
personclericalandadministrativeworkers,20.8,21.71,22.82,24.61,24.76,24.93,27.04,28.31,29.47,29.84,32.56,32.69,33.76,35.01
personsalesworkers,16.13,16.7,17.57,18.28,19.34,19.38,20.58,21.41,22.16,22.67,23.59,24.38,25.79,27.31
personmachineryoperatorsanddrivers,20.39,21.09,21.0,22.55,23.33,25.05,26.82,26.74,28.52,29.36,30.42,31.02,29.66,32.84
personlabourers,16.95,17.44,17.48,18.88,18.85,19.21,20.83,21.32,22.99,23.32,24.29,24.36,25.14,26.44

In [86]:
#Extract the females features only from the datasets
df_females = df1[0:9]
df_females

year,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
females,Females,Females,Females,Females,Females,Females,Females,Females,Females,Females,Females,Females,Females,Females
femalesmanagers,26.14,28.1,28.6,36.43,32.68,33.3,34.41,35.22,36.24,37.26,42.63,42.12,44.35,46.02
femaleprofessionals,29.02,30.0,30.56,31.93,32.93,34.72,35.52,36.48,37.72,38.95,44.13,44.75,45.17,47.04
femaletechniciansandtradesworkers,17.9,18.86,19.64,20.98,20.3,20.19,22.86,23.19,23.95,23.9,27.86,27.5,26.28,28.3
femalecommunityandpersonalserviceworkers,18.01,18.2,18.84,19.85,20.97,21.0,21.97,23.25,23.52,24.5,25.01,26.87,26.54,27.84
femaleclericalandadministrativeworkers,19.98,20.95,21.73,23.27,23.67,23.81,25.74,26.85,28.35,28.38,31.52,31.68,32.35,33.54
femalesalesworkers,14.79,15.39,16.19,16.78,17.44,18.02,19.15,19.87,20.82,21.61,22.28,22.99,23.39,26.11
femalemachineryoperatorsanddrivers,16.27,21.49,17.37,18.04,20.27,21.46,22.74,22.92,24.46,25.02,29.84,31.91,29.73,30.07
femalelabourers,16.48,16.71,16.32,17.54,17.27,17.9,19.18,19.82,20.99,21.75,22.64,23.66,24.19,24.9

In [87]:
#save the female datasets in a csv format
df_females.to_csv('C:/Users/DELL/Desktop/Hamoyecapstoneproject/female earnings.csv')

In [ ]:
#Extract the male features only from the datasets
df_males = df1[9:18]
df_males

year,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
males,Males,Males,Males,Males,Males,Males,Males,Males,Males,Males,Males,Males,Males,Males
malemanagers,33.02,33.13,35.16,38.85,38.34,41.67,41.28,43.87,44.24,44.85,49.55,49.02,49.77,52.51
maleprofessionals,34.03,34.2,34.34,38.85,39.4,40.12,41.49,45.78,45.24,45.03,50.45,51.05,49.49,52.91
maletechniciansandtradesworkers,22.15,21.87,22.64,23.97,24.81,26.62,27.95,29.26,30.94,30.82,31.95,33.27,31.97,34.25
malecommunityandpersonalserviceworkers,21.18,22.52,22.74,24.56,31.35,25.1,26.99,26.41,29.03,29.2,31.96,30.74,33.35,32.63
maleclericalandadministrativeworkers,23.19,23.94,26.15,28.52,28.04,28.25,30.69,32.77,32.9,33.88,35.85,35.72,37.77,39.4
malesalesworkers,18.51,19.01,19.99,20.82,22.58,21.6,23.22,23.99,24.49,24.55,25.99,26.89,29.62,29.28
malemachineryoperatorsanddrivers,20.92,21.04,21.36,23.06,23.7,25.44,27.25,27.16,28.88,29.83,30.48,30.92,29.65,33.12
malelabourers,17.21,17.85,18.18,19.68,19.79,19.96,21.69,22.16,24.18,24.25,25.22,24.73,25.64,27.28

In [89]:
#save the male datasets in a csv format
df_males.to_csv('C:/Users/DELL/Desktop/Hamoyecapstoneproject/male earnings.csv')

In [90]:
#Extract the persons features only from the datasets
df_persons = df1[18:]
df_persons

year,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
persons,Persons,Persons,Persons,Persons,Persons,Persons,Persons,Persons,Persons,Persons,Persons,Persons,Persons,Persons
personmanagers,30.6,31.37,32.82,37.95,36.24,38.57,38.73,40.62,41.28,41.99,46.88,46.21,47.66,49.8
personprofessionals,31.22,31.91,32.28,35.01,35.84,37.1,38.14,40.65,41.07,41.66,46.92,47.53,47.03,49.56
persontechniciansandtradesworkers,21.58,21.42,22.18,23.52,24.19,25.68,27.23,28.42,29.9,29.81,31.34,32.39,31.04,33.36
personcommunityandpersonalserviceworkers,19.03,19.6,20.04,21.32,24.25,22.25,23.5,24.26,25.25,25.88,27.16,28.11,28.68,29.28
personclericalandadministrativeworkers,20.8,21.71,22.82,24.61,24.76,24.93,27.04,28.31,29.47,29.84,32.56,32.69,33.76,35.01
personsalesworkers,16.13,16.7,17.57,18.28,19.34,19.38,20.58,21.41,22.16,22.67,23.59,24.38,25.79,27.31
personmachineryoperatorsanddrivers,20.39,21.09,21.0,22.55,23.33,25.05,26.82,26.74,28.52,29.36,30.42,31.02,29.66,32.84
personlabourers,16.95,17.44,17.48,18.88,18.85,19.21,20.83,21.32,22.99,23.32,24.29,24.36,25.14,26.44

In [91]:
#save the persons datasets in a csv format
df_persons.to_csv('C:/Users/DELL/Desktop/Hamoyecapstoneproject/persons earnings.csv')